body{
    display: block;
    margin: 90px;
    background-color: aqua;
    font-family: Raleway, Helvetica, sans-serif;
    min-width: 320px;
    padding: 100px;
    border: 20px;
    color: black
    
}

#Description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;

}

.survey-form{
    background-color: aquamarine;
    text-align: center;   
}

#form-outer{
    background-color:rgb(212, 200, 200);
    color:black;
    margin-left: 10%;
    margin-right: 10%;

}

H1{
    color: brown;
    text-align: center;
    
}

div{
    border:20%

}
.rowTab{
    color: black;
   
    padding: 20px 20px 0px 40px
}

button{
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border-color: initial;
    border-style: solid;
    float:none;
    align-items: flex-start;
    margin-left: 40%;
    text-align: center;
    cursor: default;
}
.submit{
    align-self: auto;
}


